import(randomForest, quantregForest, parallel, gptk, backShift, mgcv, data.tree, kernlab, KCI)
importFrom("MASS", ginv)
importFrom("caTools", sample.split)
importFrom("sfsmisc", wrapFormula)
importFrom("lawstat", levene.test)
importFrom("splines", bs)
importFrom("RPtestsChanged", RPtest)
export(nonlinearICP,
       pickSubset,
       matrixmap, varSelectionRF,
       testKCI, KCI,
       scaledResiduals,
       rfTargetY, gamTargetY,
       fTestTargetY, wilcoxTestTargetY,
       rfTargetE, binomTestTargetE, propTestTargetE,
       gamErrorDistributions, rfErrorDistributions, ksErrorDistributions,
       leveneAndWilcoxErrorDistributions,
       quantRfExceedance, wilcoxTestExceedance, fishersTestExceedance,
       computeDefiningSets, rmvNonLinDAG,
       computeSetIntersection,
       rmvNonLinDAG_new, getListWithIndicesOfDefSets, getgamPredictions,
       fitModel, getNoiseAR, getNoiseARGlobalLocal, getNoiseStdNorm, findMaxIntervention,
       categorizeNonlinearFct, evalCurrentRes, plotSuccessProb, plotLevel,
       plotSD, plotF1_2, plotF1, plotPrecision, plotPrecisionRecall, plotSNR,
       getInterventionPrediction, predictWithZDiff, predictWithZDiffBoots,
       interventionPredictions, computeInterventionPredictionsAllModels, prepPlotMats,
       getMethodAndOptions, multiplot, getInterventionPredictionBoots,
       computeBasis, fitWithBootsEnv,getAcceptedSetsForLevel
       )
